@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC',sans-serif ;
    font-size: 10px;
}
:root{
    --yellow: #fece02;
    --black: #000002;
    --blue: #7cabbf;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
section{
    padding: 10rem 10%;
    background-color: var(--black);
}
.sub-title{
    color: #fff;
    text-align: center;
    font-size: 6rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: var(--yellow);
    position: relative;
}
header img{
    width: 12rem;
    cursor: pointer;
}
header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}
header nav ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    position: relative;
}
header nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
header nav ul li a:hover::after{
    width: 100%;
}
header .icons a{
    text-decoration: none;
    margin-left: 2rem;
}
header .icons i{
    font-size: 3.5rem;
    color: var(--black);
}
header .icons i:hover{
    color: #fff;
}
#menubtn{
    display: none;
    font-size: 3.5rem;
    color: var(--black);
    cursor: pointer;
}

/* home section */
.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .75),rgba(0, 0, 0, .75)),url(images/home.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.home .home-left{
    flex-basis: 50%;
}
.home .home-left h1{
    color: #fff;
    font-size: 10rem;
    margin-bottom: 3rem;
}
.home .home-left h1 span{
    color: var(--yellow);
    font-size: 15rem;
}
.home .home-left h3{
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.6em;
    letter-spacing: .5rem;
    background: linear-gradient(to right, #4f4f4f, rgba(0,0,0,.1));
    padding: 2rem;
    animation-delay: .5s;
}
.home .home-left h3 span{
    color: var(--blue);
    font-size: 5rem;
}
.btn{
    margin-top: 5rem;
}
.btn a{
    text-decoration: none;
    background-color: var(--yellow);
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black);
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    animation-delay: 1s;
}

.home .home-right{
    flex-basis: 50%;
}
.home .home-right video{
    width: 90%;
    margin-left: 5rem;
    border-radius: 2rem;
    animation-delay: 1.5s;
}
.anim{
    opacity: 0;
    transform: translateY(4rem);
    animation: moveup .5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* news section */

.news-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 4rem;
    margin-top: 5rem;
}
.new{
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}
.new img{
    width: 100%;
    border-radius: 1rem;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, .6), var(--yellow));
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    transition: .5s;
}
.layer p{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.layer a{
    margin-top: 2rem;
    color: var(--blue);
    text-decoration: none;
    font-size: 1.8rem;
    background: #fff;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    font-weight: bold;
    transition: .5s;
}
.layer a:hover{
    transform: translateY(1rem);
}
.new:hover .layer{
    height: 100%;
}

/* media query */
@media (max-width: 1070px){
    html{
        font-size: 55%;
    }
    header nav ul li{
        margin: 10px 10px;
    }
    .home .home-left h1{
        font-size: 7rem;
    }
    .home .home-left h1 span{
        font-size: 10rem;
    }
    .home .home-left h3 span{
        font-size: 4rem;
    }
}
@media (max-width: 849px){
    section{
        padding: 5rem 10%;
    }
    #menubtn{
        display: inline-block;
        margin-left: 5rem;
        transition: .2s;
    }
    #menubtn.fa-times{
        transform: rotate(180deg);
    }
    header nav{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--black);
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
        transition: .5s;
    }
    header nav ul li{
        display: block;
        padding: 30px 10%;
        margin: 0;
        border-bottom: 1px solid #5b5b5b;
    }
    header nav ul li a{
        color: #fff;
    }
    header nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .home{
        display: block;
    }
    .home .home-right{
        text-align: center;
    }
    .home .home-right video{
        width: 70%;
        margin-left: 0;
    }
    .btn{
        margin-bottom: 5rem;
    }
}
@media (max-width: 450px){
    .home .home-right video{
        width: 100%;
    }
    .home .home-left h1{
        font-size: 6rem;
    }
    .home .home-left h1 span{
        font-size: 8rem;
    }

}








